:root {
	--bg-main: hsl(217, 54%, 11%);
	--bg-card: hsl(216, 50%, 16%);
	--colour-blue: hsl(215, 51%, 70%);
	--colour-cyan: hsl(178, 100%, 50%);
	--colour-white: hsl(0, 0%, 100%);
	--line-colour: hsl(215, 32%, 27%);
	--text-color: hsl(220, 15%, 55%);
}

body {
	font-size: 18px;
	font-family: "Outfit", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	background-color: var(--bg-main);
	line-height: 1.6;
}

.container {
	width: 100%;
}

.content {
	display: flex;
	justify-content: center;
	align-content: center;
}

.card {
	width: 17rem;
	background: var(--bg-card);
	border-radius: 1rem;
	padding: 1rem 1rem;
	margin-top: 10rem;
	position: relative;
	height: -webkit-fit-content;
	height: -moz-fit-content;
	height: fit-content;
	box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
}

.nft-div {
	width: 100%;
	position: relative;
	display: flex;
}

.nft-div .nft-img {
	width: 100%;
	border-radius: 1rem;
}

.nft-div .overlay {
	position: absolute;
	top: 0%;
	bottom: 0%;
	left: 0%;
	right: 0%;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: 0.3s ease;
	border-radius: 1rem;
	background-color: var(--colour-cyan);
	display: flex;
	justify-content: center;
	align-items: center;
}

.nft-div:hover .overlay {
	opacity: 0.5;
}

.title-div {
	padding: 10px 0;
}

.title-div .title-link {
	text-align: left;
	font-size: 1.25rem; /* 20px */
	line-height: 1.75rem; /* 28px */
	font-family: "Outfit";
	color: var(--colour-white);
	font-weight: 700;
	text-decoration: none;
}

.title-link:hover {
	color: var(--colour-cyan);
}

.description p {
	font-size: 1rem;
	line-height: 1.25rem;
	font-family: "Outfit";
	color: var(--text-color);
	font-weight: 400;
	margin-top: 0;
}

.eth-info {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 1rem;
}

.info {
	display: flex;
	align-items: center;
}


.info span {
	font-size: 1rem;
	line-height: 1.25rem;
	font-family: "Outfit";
	color: var(--text-color);
	font-weight: 400;
	margin-top: 0;
}

.info img {
	margin-right: 0.5rem;
}

.info span.ethereum {
	color: var(--colour-cyan);
	font-weight: 600;
}

.card-footer {
	display: flex;
	border-top: 1px solid var(--line-colour);
	padding-top: 1rem;
	align-items: center;
}

.card-footer .user-avatar {
	border: 1px solid var(--colour-white);
	border-radius: 100%;
	width: 1.7rem;
	margin-right: 1rem;
}

.card-footer span {
	font-size: 15px;
	color: var(--colour-blue);
	font-weight: 300;
}

.card-footer span a.user-link {
	font-size: 15px;
	color: var(--colour-white);
	text-decoration: none;
	font-weight: 300;
}

.card-footer span a.user-link:hover {
	color: var(--colour-cyan);
}

.attribution {
	font-size: 11px;
	text-align: center;
	position: absolute;
	bottom: 1rem;
	left: 0;
	right: 0;
}

.attribution a {
	color: hsl(228, 45%, 44%);
}
